* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px;
    background-color: #de3f53;
}

#filter {
    display: flex;
    gap: 10px;
}

.todolist {
    width: 100%;
    max-width: 700px;
}

.todolist header {
    color: #fff;
    font-size: 1.3rem;
}

#filter button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #262e4c;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 400ms ease;
    border: 2px solid #de3f53;
}

#filter button:hover {
    border: 2px solid #262e4c;
    background-color: #de3f53;
    color: #262e4c;
    font-weight: bold;
}

.wrapper-list ul.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper-list ul.list li {
    position: relative;
    background-color: #262e4c;
    border-bottom: 1px solid #1c2340;
    color: #b1b2c9;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background-color 300ms ease;
}

.wrapper-list ul.list li:hover {
    background-color: #323b5c;
}

.wrapper-list ul.list li:hover button.remove,
.wrapper-list ul.list li:hover button.edit {
    opacity: 1;
}

.wrapper-list ul.list .check {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404a6e;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 200ms ease;
}

.wrapper-list ul.list .check:hover {
    background-color: #171d37;
}

.wrapper-list ul.list .check.completed::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin: auto;
}

.wrapper-list button.remove,
.wrapper-list button.edit,
.move-up,
.move-down {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    /* opacity: 0; */
    transition: opacity 350ms ease;
}

.wrapper-list button.edit {
    margin-right: 25px;
    right: 60px;
    background-color: transparent;
    border: 1px solid #999;
    color: #999;
}

.wrapper-list button.edit:hover {
    background-color: #999;
    color: #000;
}

.wrapper-list button.remove {
    background-color: transparent;
    border: 1px solid red;
    color: red;
}

.wrapper-list button.remove:hover {
    background-color: red;
    color: #fff;
}

.move-up {
    border: 1px solid green;
    /* right: 135px; */
    right: 232px;
    background-color: transparent;
    color: green;
}

.move-up:hover,
.move-down:hover {
    background-color: green;
    color: #fff;
}

.move-down {
    right: 135px;
    background-color: transparent;
    border: 1px solid green;
    color: green;
}

.todolist footer {
    background-color: #171d37;
}

.todolist footer input {
    background-color: #171d37;
    border: none;
    outline: none;
    width: 90%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #fff;
}

.completed {
    text-decoration: line-through;
}

/* .move-up,
.move-down {
    position: absolute;
    right: 100px;
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.move-up:hover,
.move-down:hover {
    background-color: #45a049;
    color: white;
} */
